<!-- ABOUT ME -->
<div th:fragments="about" class="shadow-1-strong bg-white my-5 p-5" id="about">
    <div class="about-section">
        <div class="row">
            <div class="col-md-6">
                <h2 class="h2 fw-light mb-4">About Me</h2>
                <p>Hello! I’m Çağatay Sarıoğlan. I'm a software developer who is ambitious to learn since childhood,
                    creates solutions for troubles by performing strong studies and has unexaggerated self-confidence.
                    I have always been a person who approaches positively to the problems, focused on his internship and
                    job, and working without confusion.
                    I extremely believe that in order to reach my career goals in the long term, I'm going to focus on
                    my job comprehensively by considering every job I'm in as a lesson to myself. </p>
            </div>
            <div class="col-md-5 offset-lg-1">
                <div class="row mt-2">
                    <h2 class="h2 fw-light mb-4">Bio</h2>
                    <div class="col-sm-5">
                        <div class="pb-2 fw-bolder"><i class="far fa-calendar-alt pe-2 text-muted"
                                                       style="width:24px;opacity:0.85;"></i> Age
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="pb-2">29</div>
                    </div>
                    <div class="col-sm-5">
                        <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted"
                                                       style="width:24px;opacity:0.85;"></i> Email
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="pb-2">sarioglancgty@outlook.com</div>
                    </div>
                    <!--
                    <div class="col-sm-5">
                        <div class="pb-2 fw-bolder"><i class="fab fa-skype pe-2 text-muted"
                                                       style="width:24px;opacity:0.85;"></i> GitHub
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div class="pb-2">https://github.com/cagataysar</div>
                    </div>

                    <div class="col-sm-5">
                        <div class="pb-2 fw-bolder">
            <i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Phone
                        </div>
                    </div>
                    <div class="col-sm-7">
                         <div class="pb-2">+905314685200</div>
                    </div>
                    -->
                    <div class="col-sm-5">
                        <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted"
                                                       style="width:24px;opacity:0.85;"></i> Address
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="pb-2"> Adana, Türkiye</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>