<!-- Personal Info -->
<dğüiv th:fragments="cagatay" class="page-content">
    <div class="container">
        <div class="resume-container">
            <div class="shadow-1-strong bg-white my-5" id="intro">
                <div class="bg-info text-white">
                    <div class="cover bg-image"><img src="/images/van.webp"/>
                        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
                            <div class="text-center p-5">
                                <div class="avatar p-1">
                                    <img class="img-thumbnail shadow-2-strong" src="/images/my.jpg" width="185"
                                         height="185"/>
                                </div>
                                <div class="header-bio mt-3">
                                    <div data-aos="zoom-in" data-aos-delay="0">
                                        <h2 class="h1">Çağatay Sarıoğlan</h2>
                                        <h5>Software Developer</h5>
                                        <p></p>
                                    </div>
                                    <div class="header-social mb-3 d-print-none" data-aos="zoom-in"
                                         data-aos-delay="200">
                                        <nav role="navigation">
                                            <ul class="nav justify-content-center">
                                                <li class="nav-item"><a target="_blank" class="nav-link"
                                                                        href="https://www.linkedin.com/in/cagataysarioglan/"
                                                                        title="LinkedIn"><i class="fab fa-linkedin"></i><span
                                                        class="menu-title sr-only">LinkedIn</span></a>
                                                </li>
                                                <li class="nav-item"><a target="_blank" class="nav-link"
                                                                        href="https://github.com/cagataysar"
                                                                        title="Github"><i
                                                        class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                                                </li>
                                                <li class="nav-item"><a target="_blank" class="nav-link"
                                                                        href="https://stackoverflow.com/users/16576600/cagataysar"
                                                                        title="Stack-Overflow"><i
                                                        class="fab fa-stack-overflow"></i><span
                                                        class="menu-title sr-only">Stack-Overflow</span></a>
                                                </li>
                                                <li class="nav-item"><a target="_blank" class="nav-link"
                                                                        href="https://twitter.com/cagataysrgln"
                                                                        title="Twitter"><i
                                                        class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                                                </li>
                                                <li class="nav-item"><a target="_blank" class="nav-link"
                                                                        href="https://instagram.com/cagataysarioglan?utm_source=qr"
                                                                        title="Instagram"><i
                                                        class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                                                </li>
                                                <!--
                                                  <li class="nav-item"><a target="_blank" class="nav-link" href="https://bsky.app/profile/cagataysar.bsky.social" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Bluesky</span></a></li>

                                                <li>
                                                  <a href="https://www.linkedin.com/in/cagataysarioglan/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 448 512">
                                                  <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg></a>
                                                </li>
                                                -->

                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="d-print-none">
                                        <button class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3" type="submit"
                                                onclick="window.open('cagataysarresume.pdf')" data-aos="fade-right"
                                                data-aos-delay="700">Download CV
                                        </button>
                                        <!--
                                          <a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3" href="resume.pdf" data-aos="fade-right" data-aos-delay="700">Download CV</a>
                                        -->
                                        <a class="btn btn-info btn-lg shadow-sm mt-1" href="#contact"
                                           data-aos="fade-left" data-aos-delay="700">Hire Me</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>