<div th:fragments="projects" class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
        <h2 class="h2 fw-light mb-4">My Projects</h2>
        <div class="timeline">
            <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
                <div class="timeline-head px-4 pt-3">
                    <div class="h5">GoodBooks<span class="text-muted h6"></span>
                    </div>

                </div>
                <div class="timeline-body px-4 pb-4">
                    <div class="h5"><span
                            class="text-muted h6">Technologies: Java, Kotlin, Spring Boot, Spring JPA, SQL, Docker</span>
                    </div>
                    <div class="text-muted text-small mb-3"><a target="_blank" class="nav-link"
                                                               href="https://github.com/emrcelen/good-books"
                                                               title=""><i class="fab">Code/Live</i><span
                            class="menu-title sr-only"></span></a></div>
                </div>
            </div>

        </div>

        <div class="timeline">
            <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
                <div class="timeline-head px-4 pt-3">
                    <div class="h5">Teknik Servis<span class="text-muted h6"></span>
                    </div>

                </div>
                <div class="timeline-body px-4 pb-4">
                    <div class="h5"><span
                            class="text-muted h6">Technologies: Java, JDBC, Spring Boot, Spring Security, Swagger</span>
                    </div>
                    <div class="text-muted text-small mb-3"><a target="_blank" class="nav-link"
                                                               href="https://github.com/cagataysar/TeknikServis"
                                                               title=""><i class="fab">Code/Live</i><span
                            class="menu-title sr-only"></span></a></div>
                </div>
            </div>

        </div>
    </div>
</div>
