<!-- WORK EXPERIENCE  -->
<div th:fragments="work" class="shadow-1-strong bg-white my-5 p-5" id="experience">
    <div class="work-experience-section">
        <h2 class="h2 fw-light mb-4">Work Experience</h2>
        <div class="timeline">

            <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">

                <div class="timeline-head px-4 pt-3">
                    <div class="h5">Software Developer <span class="text-muted h6">at Garanti BBVA Teknoloji via BilgeAdam Teknoloji</span>
                    </div>
                </div>
                <div class="timeline-body px-4 pb-4">
                    <div class="text-muted text-small mb-3">August, 2023 - December, 2023 <i>(Remote, Outsource)</i></div>
                    <div class="text-muted text-small mb-3"><i>3 Months - Remote, Outsource</i></div>
                </div>
            </div>
            <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
                <div class="timeline-head px-4 pt-3">
                    <div class="h5">Software Developer <span class="text-muted h6">at BilgeAdam Teknoloji</span></div>
                </div>
                <div class="timeline-body px-4 pb-4">
                    <div class="text-muted text-small mb-3">March, 2023 - February, 2024 <i>(Remote)</i></div>
                    <div class="text-muted text-small mb-3"><i>11 Months - Remote</i></div>
                </div>
            </div>
        </div>
    </div>
</div>
